@page "/mealcomponentlist"
@using PMC.Web.Data
@using PMC.Data
@using PMC.DataModel
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject SelectedComponentService SelectedComponentService
@inject SelectedMealService SelectedMealService
<!--TODO - figure out why list of components is not refreshing-->

<p>@SelectedMealService.MealID</p>
<p>@componentCount</p>

@if (SelectedMealService.MealID > 0 && componentCount > 0)
{
    <div class="grid-container">
        <div class="grid-item grid-item-1">
            <span style="font-size:13px"><b>My Components</b> (@componentCount each) </span>
            @foreach (var list in components)
            {
                <div style="padding-left:5px">@list.CompName</div>
            }
        </div>
    </div>
}


@code {


    [Inject]
    private RepoFactory repoFactory { get; set; }
    private int userID;

    private Component component = new Component();
    private List<MealComponent> mealComponents = new List<MealComponent>();
    protected string componentName { get; set; }
    protected int componentType { get; set; }
    protected List<ComponentType> compTypes = new List<ComponentType>();
    private List<Component> components = new List<Component>();
    private List<Component> appetizers = new List<Component>();
    //private int appcount = 0;
    private List<Component> entrees = new List<Component>();
    //private int entreecount = 0;
    private List<Component> desserts = new List<Component>();
    //private int dessertcount = 0;
    private int componentCount = 0;
    private Meal meal = new Meal();

#pragma warning disable 1998
    protected override async Task OnInitializedAsync()
    {
        userID = repoFactory.UserID;
    }
#pragma warning restore 1998


    protected void GetRepoInformation()
    {
        var mealRepo = repoFactory.Get<PMC.Data.MealRepo>();
        meal = mealRepo.GetMealByMealID(SelectedMealService.MealID);

        var repo = repoFactory.Get<PMC.Data.MealComponentRepo>();
        mealComponents = repo.GetMealComponentsByMealID(SelectedMealService.MealID).ToList();
        componentCount = mealComponents.Count();

        StateHasChanged();
    }

}
